footer {
    width: 100%;
    padding: 12px;
    background-color: #ccc;
    margin-block-start: 104px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;

    i {
        font-family: inter-sb;
        font-size: rem(12.5px);
    }
}