.product-preview {
    border: 1px solid $clr4;
    border-radius: 24px;
    padding: 16px 12px;

    .preview-image {
        width: 150px;
        height: 150px;
        img {
            object-fit: contain;
        }
    }

    h4 {
        font-family: inter-sb;
        font-size: rem(15px);
        text-align: center;
        margin-block-start: 1rem;
    }

    span:first-of-type {
        text-transform: capitalize;
        margin-block-start: 6px;
        font-size: 1rem;
    }

    span:last-of-type {
        font-family: inter-sb;
        margin-block-start: 12px;
        font-size: 1rem;
    }

    .preview-linkbox {
        margin-block-start: 1rem;

        a {
            color: $clr2;
            text-decoration: underline;
        }

        button {
            font-size: rem(15px);
            border-radius: 24px;
            background-color: $clr3;
            color: $clr1;
            padding: 6px 12px;
            margin-inline-end: 1rem;
        }
    }
}
