.product-amount {
    // height: 30px;
    margin-block-start: 32px;

    > *:not(:last-child) {
        margin-inline-end: 10px;
    }

    button {
        padding: 5px !important;
        background-color: $clr5 !important;
        margin-block-start: 0 !important;
        width: 33px;
    }

    span {
        font-size: rem(20px) !important;
    }

}