// Colors
$clr1: #ffffff;
$clr2: #333333;
$clr3: #6F00FF;
$clr4: #cccccc;
$clr5: #adadad;

//Box shadows
$boxShadow: 0px 0px 5px rgba(0, 0, 0, 0.300);

// Breakpoints
$mobile-breakpoint: 550px;
$narrow-breakpoint: 770px;
$normal-breakpoint: 1200px;